@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');
body{
    background: url('../../1.svg') no-repeat;
      background-size: cover;
      width: 100%;
}
h1{
    font-size: 4vw;
    font-family: 'Playball', cursive;
}
h2{
    font-size: 2vw;
    font-family: 'Chilanka', cursive;
}
h3{
    font-size: 1.5vw;
    font-family: 'Chilanka', cursive;
}
.home{
    padding: 5%;
    align-items: center;
}
.textDesign{
    text-decoration: none;
    color: white;
}
.card{
    width: 70%;
    background-color: rgb(239, 248, 248);
    margin-left: 15%;
    padding: 2%;
    margin-bottom: 2%;
}
.card1{
    width: 70%;
    background-color: rgb(250, 233, 252);
    margin-left: 15%;
    padding: 2%;
    margin-bottom: 2%;
}